.uber {
  background-color: black;
  color: white;
  border: none;
  margin-bottom: 30px;
  height: 40px;
  width: 115px;
  font-size: small;
  cursor: pointer;
  transition: opacity 0.15s;
} .uber:hover {
  opacity: 0.85;
}

.amazon {
  font-weight: bold;
  background-color: rgb(255, 216, 20);
  border: none;
  border-radius: 20px;
  height: 35px;
  width: 190px;
  margin-bottom: 30px;
  cursor: pointer;
  transition: background-color 0.20s;
} .amazon:hover {
  background-color: rgb(245, 206, 11);
}

.github {
  font-weight: bold;
  background-color: rgb(46, 164, 79);
  color: white;
  border: none;
  height: 36px;
  width:90px;
  margin-bottom: 30px;
  border-radius: 7px;
  cursor: pointer;
  transition: box-shadow 0.15s;
} .github:hover {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.bootstrap {
  font-weight: bold;
  background-color: rgb(121, 82, 179);
  color: white;
  border: none;
  height: 44px;
  width: 110px;
  margin-bottom: 30px;
  border-radius: 4px;
  margin-right: 6px;
  cursor: pointer;
  transition: background-color 0.20s;
} .bootstrap:hover {
  background-color: rgb(111, 75, 167);
}
.download {
    font-weight: bold;
    color: rgb(108, 117, 125);
    background-color: white;
    border: solid 1px rgb(108, 117, 125);
    height: 44px;
    width: 105px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.20s, color 0.20s;
} .download:hover {
    background-color: rgb(108, 117, 125);
    color: white;
}

.linkedin {
    font-weight: bold;
    background-color: rgb(10, 102, 194);
    color: white;
    border: none;
    height: 36px;
    width: 212px;
    border-radius: 17px;
    margin-right: 9px;
    cursor: pointer;
    transition: background-color 0.20s;
} .linkedin:hover {
    background-color: rgb(12, 94, 175);
} .save {
    font-weight: bold;
    background-color: white;
    color: rgb(10, 102, 194);
    border: solid 1.2px;
    height: 36px;
    width: 63px;
    border-radius: 17px;
    cursor: pointer;
    transition: border-width 0.05s;
} .save:hover {
    border-width: 2px;
}